.brand {
  font-family: 'Rubik Maze';
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out;
}

.animate-pulse {
  animation: pulse 3s ease-in-out infinite;
}

.animate-spin-slow {
  animation: spin 3s ease-in-out infinite;
}