@import url('https://googleapis.com');

nav {
  background-color: #EAFAF4;
}

a.nav-link {
  color: #6EDEAF;
}

#brand {
  color: #1C7C54;
  font-weight: bold;
  font-size: 27px;
  font-family: 'Rubik Maze';
}